// $color1:#7386D5;
$color1:#212629;
// $color2:#6d7fcc;
$color2:#292F38;
$color-white:#fff;
$sidebar-active-color:#6d7fcc;
$menuColor: rgb(0, 0, 0);
$menuBGColor:rgba(0, 247, 255, 0.301);
$menuHoverColor: rgb(255, 255, 255);
$menuHoverBGColor:rgba(0, 0, 0, 0.473);
$color-warning: #FFC007;